.navbar {
  height: 70px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(204, 61%, 47%);
  border-color: #337cac;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif
}
